body {
    height: 100vh;
    background: linear-gradient(rgba(0,150,136,1) 15%, rgba(218,219,212,1) 15%);
}

/*# UTILS */
img {
    height: 50px;
    max-width: 100%;
}

i {
    color: #B1B1B1;  
}

.fa-bell-slash {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #8EDAFC;
    background-color: #F2FBFF;
} 

/* CONTAINER */
#root .container {
    background-color: #fff;
    height: 90%;
}

/* SEZIONE DELLA SIDEBAR */

#sidebar {
    background-color: #fff;
}

/* SEZIONE DELLE NOTIFICHE */

#notifications {
    background-color: #8EDAFC;
    height: 80px;
}

/* SEZIONE DELLA BARRA DI RICERCA */

#search-bar {
    background-color: #FAFAFA;
    height: 50px;
}

/* SEZIONE DELLA CHAT */

#chat {
    background-color: #E5DED5;
}

#user-ui {
    background-color: #EAEAEA;
    height: 70px;
}

main {
    background-image: url('/img/mine.jpg');
}

.p-notifications {
    font-size: 14px;
}

.chat-container.sent {
    justify-content: flex-end;
}

.chat-container.received {
    justify-content: flex-start;
}

.chat-container.sent .message {
    background-color: #D5F9BA;
}

.chat-container.received .message {
    background-color: #fff;
}

.chat-container .message time {
    display: block;
    text-align: right;
    font-size: 11px;
    color: gray;
}

header,
footer {
    background-color: #EAEAEA;
    height: 70px;
}
